<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Wunderfleet registration form{% endblock %}</title>
    {% block stylesheets %}
        <!-- Bootstrap 4.1-->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap.min.css') }}">

        <!-- Bootstrap extend-->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/bootstrap-extend.css') }}">

        <!-- Theme style -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/master_style.css') }}">

        <!-- Bankio admin skins -->
        <link rel="stylesheet" href="{{ asset('bundles/app/css/_all-skins.css') }}">
    {% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
</head>
<body class="hold-transition bg-light">

<div class="container h-p100">
    <div class="row align-items-center justify-content-md-center h-p100">

        <div class="col-lg-5 col-md-8 col-12">
            <div class="content-top-agile bg-primary">
                <h2>Wunderfleet registration form</h2>
                <p>{% block step_number %}Step 1{% endblock step_number %}</p>
            </div>
            <div class="p-40 bg-white content-bottom">
                {% block flash_messages %}
                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('error') %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endblock flash_messages%}

                {% block body %}

                {% endblock body %}
            </div>
        </div>


    </div>
</div>

{% block javascripts %}
    <!-- jQuery 3 -->
    <script src="{{ asset('bundles/app/js/jquery-3.3.1.min.js') }}"></script>

    <!-- popper -->
    <script src="{{ asset('bundles/app/js/popper.min.js') }}"></script>

    <!-- Bootstrap 4.1-->
    <script src="{{ asset('bundles/app/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>
