{% extends "base.html.twig" %}

{% block step_number %}Step 4{% endblock %}

{% block body %}
    <h4>Congratulations! You have finished the registration process!</h4>
    <p>
        Your Payment Data ID is: <span class="bg-info" style="word-wrap: break-word;">{{ user.paymentDataId }}</span>
    </p>

    <a class="btn btn-primary" href="{{ path('restart') }}">Start a new registration process</a>
{% endblock body %}
